span {
    color: black;
    padding-left: 55-px;
    font-weight: bolder;
}

ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    max-width: 150-px;
}

ul li a span{
    letter-spacing: 2px;
    transition: 0.5s;
    background: white;
}

ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 50px;
    background: white;
    position: relative;
    transition: 0.5s;
}

ul li a::before{
    content: '';
    position: absolute;
    top: 8px;
    left: -15px;
    height: 100%;
    width: 15px;
    background: #cecece;
    transition: 0.5s;
    transform: skewY(-45deg);
}

ul li a::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: -8px;
    height: 15px;
    width: 100%;
    background: #cecece;
    transition: 0.5s;
    transform: skewX(-45deg);
}

ul a:hover span{
    color: white;
}

ul a:hover{
    background: rgb(240, 148, 0);
}

ul li a:hover span{
    background: rgb(240, 148, 0);
}

ul a:hover{
    transform: translate(5px, -5px);
    box-shadow: -50px 50px 50px rgb(94, 92, 92);
}

ul a:hover::before{
    background: rgb(205, 127, 3);
}

ul a:hover::after{
    background: rgb(251, 171, 40);
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInTop {
    0% {
      transform: translateY(-160%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInBottom {
    0% {
      transform: translateY(160%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes scale-in {
    0% {
      transform: scale(0,0);
    }
    100% {
      transform: scale(1,1);
    }
  }

#home-title {
    animation: 0.7s ease-out 0s 1 slideInTop;
}

#home-desc {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

ul {
    animation: 0.7s ease-out 0s 1 slideInBottom;
}
